# application: kube-prometheus-stack
# clusterConfig:
#   namespace: monitoring
# chart:
#   name: kube-prometheus-stack
#   releaseName: kube-prometheus-stack
#   repoURL: https://prometheus-community.github.io/helm-charts
#   targetRevision: 58.1.2
#   values: |
#     defaultRules:
#       create: true
#       rules:
#         alertmanager: true
#         etcd: true
#         configReloaders: true
#         general: true
#         k8s: true
#         kubeApiserverAvailability: true
#         kubeApiserverBurnrate: true
#         kubeApiserverHistogram: true
#         kubeApiserverSlos: true
#         kubelet: true
#         kubeProxy: true
#         kubePrometheusGeneral: true
#         kubePrometheusNodeRecording: true
#         kubernetesApps: true
#         kubernetesResources: true
#         kubernetesStorage: true
#         kubernetesSystem: true
#         kubeScheduler: true
#         kubeStateMetrics: true
#         network: true
#         node: true
#         nodeExporterAlerting: true
#         nodeExporterRecording: true
#         prometheus: true
#         prometheusOperator: true

#     alertmanager:
#       fullnameOverride: alertmanager
#       enabled: true
#       ingress:
#         enabled: false

#     grafana:
#       sidecar:
#         datasources:
#           defaultDatasourceEnabled: true
#       additionalDataSources:
#         - name: Loki
#           type: loki
#           url: http://loki-stack-headless.monitoring:3100
#           access: proxy
#       enabled: true
#       extraSecretMounts:
#         - name: grafana-client-secret
#           mountPath: "/etc/grafana-secrets"
#           secretName: grafana-external-secrets
#           readOnly: true
#       assertNoLeakedSecrets: false
#       fullnameOverride: grafana
#       forceDeployDatasources: false
#       forceDeployDashboards: false
#       defaultDashboardsEnabled: true
#       defaultDashboardsTimezone: utc
#       serviceMonitor:
#         enabled: true
#       admin:
#         existingSecret: grafana-external-secrets
#         userKey: grafana-user
#         passwordKey: grafana-password
#       service:
#         enabled: true
#         type: NodePort
#         port: 80
#         targetPort: 3000 
#         annotations: {}
#       ingress:
#         enabled: true
#         ingressClassName: "alb"
#         annotations:
#           alb.ingress.kubernetes.io/scheme: "internal"
#           alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-west-1:688015222741:certificate/87dd5446-09a8-41cd-aa51-0bd6e8a20891
#           alb.ingress.kubernetes.io/target-type: "ip"
#           alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
#           alb.ingress.kubernetes.io/actions.ssl-redirect: >-
#             {"Type": "redirect", "RedirectConfig": {"Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}
#           alb.ingress.kubernetes.io/healthcheck-protocol: "HTTP"
#           alb.ingress.kubernetes.io/healthcheck-port: "traffic-port"
#           alb.ingress.kubernetes.io/healthcheck-path: "/health"
#           alb.ingress.kubernetes.io/healthcheck-interval: "120"
#           alb.ingress.kubernetes.io/healthcheck-timeout: "5"
#           alb.ingress.kubernetes.io/success-codes: "200"
#           alb.ingress.kubernetes.io/healthy-threshold-count: "3"
#           alb.ingress.kubernetes.io/unhealthy-threshold-count: "3"
#         hosts:
#           - grafana.openreplay.deel
#         paths:
#           - path: /
#             pathType: ImplementationSpecific
#             backend:
#               service:
#                 name: grafana
#                 port:
#                   number: 80

#       grafana.ini:
#         server:
#           root_url: 'http://grafana.openreplay.deel'
#         auth.github:
#           enabled: true
#           client_id: 59c79ae7d2f87e88b433
#           client_secret: '$(__file{/etc/grafana-secrets/client_secret})'
#           scopes: user:email,read:org
#           auth_url: https://github.com/login/oauth/authorize
#           token_url: https://github.com/login/oauth/access_token
#           api_url: https://api.github.com/user
#           allow_sign_up: true
#           auto_login: false
#           team_ids: 4200694
#           allowed_organizations: letsdeel
#           role_attribute_path: contains(groups[*], 'letsdeel/devops') && 'GrafanaAdmin' || 'Viewer'

#     kubeApiServer:
#       enabled: true

#     kubelet:
#       enabled: true
#       serviceMonitor:
#         metricRelabelings:
#           - action: replace
#             sourceLabels:
#               - node
#             targetLabel: instance

#     coreDns:
#       enabled: true

#     kubeDns:
#       enabled: false

#     kubeStateMetrics:
#       enabled: true

#     kube-state-metrics:
#       fullnameOverride: kube-state-metrics
#       selfMonitor:
#         enabled: true
#       prometheus:
#         monitor:
#           enabled: true
#           relabelings:
#             - action: replace
#               regex: (.*)
#               replacement: $1
#               sourceLabels:
#                 - __meta_kubernetes_pod_node_name
#               targetLabel: kubernetes_node

#     nodeExporter:
#       enabled: true
#       serviceMonitor:
#         relabelings:
#           - action: replace
#             regex: (.*)
#             replacement: $1
#             sourceLabels:
#               - __meta_kubernetes_pod_node_name
#             targetLabel: kubernetes_node

#     prometheus-node-exporter:
#       fullnameOverride: node-exporter
#       podLabels:
#         jobLabel: node-exporter
#       extraArgs:
#         - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
#         - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
#       service:
#         portName: http-metrics
#       prometheus:
#         monitor:
#           enabled: true
#           relabelings:
#             - action: replace
#               regex: (.*)
#               replacement: $1
#               sourceLabels:
#                 - __meta_kubernetes_pod_node_name
#               targetLabel: kubernetes_node
#       resources:
#         requests:
#           memory: 512Mi
#           cpu: 250m
#         limits:
#           memory: 2048Mi

#     prometheusOperator:
#       enabled: true
#       prometheusConfigReloader:
#         resources:
#           requests:
#             cpu: 200m
#             memory: 50Mi
#           limits:
#             memory: 100Mi

#     prometheus:
#       enabled: true
#       prometheusSpec:
#         replicas: 1
#         replicaExternalLabelName: "replica"
#         ruleSelectorNilUsesHelmValues: false
#         serviceMonitorSelectorNilUsesHelmValues: false
#         serviceMonitorSelector: {}
#         serviceMonitorNamespaceSelector: {}
#         podMonitorSelectorNilUsesHelmValues: false
#         probeSelectorNilUsesHelmValues: false
#         retention: 10d
#         enableAdminAPI: true
#         walCompression: true
#         extraScrapeConfigs: |
#           - job_name: karpenter
#             kubernetes_sd_configs:
#             - role: endpoints
#               namespaces:
#                 names:
#                 - karpenter
#             relabel_configs:
#             - source_labels:
#               - __meta_kubernetes_endpoints_name
#               - __meta_kubernetes_endpoint_port_name
#               action: keep
#               regex: karpenter;http-metrics
#     thanosRuler:
#       enabled: false