apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "git@github.com:gabriel-devops-portfolio/banksystem-web.git"
    targetRevision: main
    path: "prod/apps/extra"
    directory:
      recurse: false
      include: "*.yaml"
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
