application: void-vote
clusterConfig:
  namespace: penumbra
image:
  registry: 485797251250.dkr.ecr.eu-west-1.amazonaws.com
  repository: void-vote
  pullPolicy: IfNotPresent
  tag: "68ca62633bd12f783cad4111c8de666f0e9259f6"
imagePullSecrets:
  - name: ecr-creds
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
# env:
#   - name: DATABASE_URL
#     valueFrom:
#       secretKeyRef:
#         name: db-secret
#         key: DATABASE_URL

#   - name: SELF_SIGNED_CERT_IN_CHAIN
#     valueFrom:
#       secretKeyRef:
#         name: metrics-token
#         key: METRICS_TOKEN
livenessProbe:
  httpGet:
    path: /ping
    port: http
  initialDelaySeconds: 20
  periodSeconds: 10
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5
readinessProbe:
  httpGet:
    path: /ping
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5
resources:
  limits:
    cpu: 2
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1Gi
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  ingressClassName: traefik-external
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/redirect-entry-point: https
  hosts:
    - host: vote.penumbra.zone
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: void-vote
              port:
                number: 3000
    - host: www.vote.penumbra.zone
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: void-vote
              port:
                number: 3000
  tls:
    - hosts:
        - vote.penumbra.zone
        - www.vote.penumbra.zone
      secretName: penumbra-vote-tls
