application: uriel-tween-agency-service
clusterConfig:
  namespace: agency
image:
  registry: 485797251250.dkr.ecr.eu-west-1.amazonaws.com
  repository: uriel-tween-agency-service
  pullPolicy: IfNotPresent
  tag: "2375e5566a03e71a6255423a36da31b4e035bfd8"
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: "alb"
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-west-1:485797251250:certificate/5c253198-a82e-4591-8a9e-9139ca9b000b
  hosts:
    - host: uriel-tween-agency-service.penumbra.zone
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - uriel-tween-agency-service.penumbra.zone
